* {
    font-family: sans-serif;
}

nav {
    /*width: 1000px;*/
    background-color: white;
    padding: 20px 0;
}

#container {
    margin: auto;
}

#header {
    width: 1000px;
    margin: auto;
}

#titre {
    width: 15%;
    display: inline-block;
    color: #2b3f48;
    margin-left: 88px;
    margin-bottom: 60px;
    font-size: 30px;
    color: #2b3f48;
    /*margin-left: 100px;*/
}

ul {
    width: 60%;
    display: inline-block;
    margin-left: 100px;
}

ul li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 10px;

}

a:hover {
    color: #27ae61;
}

li.selected a {
    color: #27ae61;
}

a {
    color: #2b3f48;
    text-decoration: none;
}

#container {
    width: 45%;
}

form {
    border-radius: 10px;
    box-shadow: 0 0 5px lightgrey;
    padding-bottom: 2em;
}

h1 {
    background-color: #27ae61;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: normal;
    padding: 1em;
    padding-left: 54px
    margin-bottom: 0;
    padding-bottom: 1em;
}

h2:first-of-type {
    margin-top: 2.5em;
}

h2 span {
    border-radius: 50em;
    padding: 0.25em 0.5em;
    margin-right: 2em;
    margin-left: -13px;
}

h2 {
    color: #27ae61;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 0.25em;
}

fieldset {
    background-color: #f8f8f8;
    border: medium none;
    border-radius: 5px;
    margin: auto;
    padding: 2em 0;
    width: 85%;
}

fieldset label {
    margin-left: 1em;
    color: #929292;

}

fieldset input {
    background-color: white;
    border-color: white;
    border-radius: 5px;
    border-style: solid;
    box-shadow: 1px 2px 1px lightgrey inset;
    display: block;
    margin-bottom: 1em;
    margin-left: 1em;
    width: 90%;
}

#submit {
    background-color: #27ae61;
    border: medium none;
    border-radius: 5px;
    color: white;
    margin-left: 3em;
    margin-right: 10em;
    margin-top: 1em;
    padding: 0.5em 1em;
}


form > label {
    font-size: 12px;
}

#terms {
    vertical-align: middle;
}

footer {
    background-color: white;
    text-align: center;
    height: 206px;
    /*width: 1000px;*/
}

footer > p {
    color: #656565;
    padding-top: 86px;
    text-transform: uppercase;
    font-size: 13px;
}
